-#encoding: utf-8
.row.page-header
  %h1 回收站

.row{style: "margin-top: 5px; background: white; border-radius: 5px;"}
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseOrder", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOrder"}
            订单
            %span.badge= @orders.count
      #collapseOrder.panel-collapse.collapse{:role => "tabpanel", :style => "height: 0px;"}
        .panel-body
          = haml :_orders_panel
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapseRecord", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseRecord"}
            活动
            %span.badge= @campaigns.count
      #collapseRecord.panel-collapse.collapse{:role => "tabpanel"}
        .panel-body
          dddd
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapsePackage", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsePackage"}
            套餐
            %span.badge= @packages.count
      #collapsePackage.panel-collapse.collapse{:role => "tabpanel"}
        .panel-body
          = haml :_packages_panel
