-# coding: UTF-8
%nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:0px;"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "MailHok", "/account", class: "navbar-brand"
    .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav
        %li= link_to "首页", "/account"
        %li= link_to "追踪", "/account/tracks"
        %li= link_to "开信", "/account/records"
        %li= link_to "我的订单", "/account/orders"

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "商店", "/account/store"
        %li
          = link_to "回收站", "/account/trash"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            设置
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account/edit"}
                %i.glyphicon.glyphicon-user
                账户设置
            - if current_user && current_user.admin?
              %li
                %a{:href => "/cpanel"}
                  %i.glyphicon.glyphicon-wrench
                  后台管理
            %li
              %a{href: "/user/logout"}
                %i.glyphicon.glyphicon-log-out
                退出

= haml :"../../shared/_breadcrumb"
