-# coding: UTF-8
%nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:0px;"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "MailHok", "/account", class: "navbar-brand"
    .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav
        %li= link_to "首页", "/account"
        %li= link_to "活动", "/account/campaigns"
        %li= link_to "开信", "/account/tracks"
        %li= link_to "我的订单", "/account/orders"
        %li= link_to "logs", "/account/action_logs"

      - is_admin = current_user and current_user.admin?
      %input#navbar_right_lis{type: "hidden", value: 3}/
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/account/store"}
            %i.glyphicon.glyphicon-shopping-cart
        %li
          %a{href: "/account/renewal"}
            %i.glyphicon.glyphicon-transfer
        %li
          %a{href: "/account/trash"}
            %i.glyphicon.glyphicon-trash
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            设置
            %b.caret
          %ul.dropdown-menu
            %li
              %a
                %i.glyphicon.glyphicon-user
                账户设置
            %li
              %a{href: "/account/renewal"}
                %i.glyphicon.glyphicon-transfer
                续期
            %li.divider
            %li
              %a{href: "/account/store"}
                %i.glyphicon.glyphicon-shopping-cart
                商店
            %li
              %a{href: "/account/trash"}
                %i.glyphicon.glyphicon-trash
                回收站
            - if current_user and current_user.admin?
              %li
                %a{:href => "/cpanel"}
                  %i.glyphicon.glyphicon-wrench
                  后台管理
            %li.divider
            %li
              %a{:href => "/user/logout"}
                %i.glyphicon.glyphicon-log-out
                退出
= haml :"../../shared/_breadcrumb"
