.page-header
  .row
    .col-lg-6
      %h3 购物车

:css
  .table th { width: 20%; }
%table.table.table-striped
  %thead{style:"background: #5C4033;color:lightgray;"}
    %tr
      %th 套餐名称
      %th 价格
      %th 延期
      %th 数量
      %th 小计
  %tbody
    - @packages.each do |package|
      %tr.package{id: "package_#{package.id}"}
        %input.id{type: "hidden", value: package.id}/
        %input.num{type: "hidden", value: package.num}/
        %input.unit{type: "hidden", value: package.unit}/
        %td
          %span.name= package.name
        %td
          ￥
          %span.price= "%d" % package.price
        %td
          = "%02d x " % package.num
          .label.label-primary= package.unit
        %td
          %a.minus.btn.btn-default.btn-xs.btn-primary{onclick: "ShopCart.minus('package', '#{package.id}', #{package.price});", style: "border-radius: 3px 0px 0px 3px;"}
            %i.glyphicon.glyphicon-minus
          %input.form-control.quantity{id: "package_#{package.id}_quantity", min: "0", style: "padding:0px;width:50px;display:inline;line-height:22px;height:22px;font-size:8px;border-radius: 0px;margin: auto -5px;text-align:center;", type: "number", value: "#{chk_params(package.id)}", disabled: "disabled"}
          %a.plus.btn.btn-default.btn-xs.btn-primary{onclick: "ShopCart.plus('package', '#{package.id}', #{package.price});", style: "border-radius: 0px 3px 3px 0px;"}
            %i.glyphicon.glyphicon-plus
        %td.amount{id: "package_#{package.id}_amount"} 0
    %tr.success
      %td
      %td{colspan: "2", style: "text-align: right;vertical-align:middle;"}
        已选商品
        %span.total-quantity{style: "font-size:18px;"} 0
        件
      %td{style: "vertical-align:middle;"}
        合计￥
        %span.total-amount{style:"font-size:18px;"} 0
      %td 
        %form.form-inline.col-sm-12{"accept-charset" => "UTF-8", action: "/transactions/checkout", method: "post", role: "form"}
          %input#quantity.hidden{name: "order[quantity]", type: "hidden", value: "0"}/
          %input#amount.hidden{name: "order[amount]", type: "hidden", value: "0"}/
          %input#order.hidden{name: "order[detail]", type: "hidden", value: "0"}/
          %input.btn.btn-default.btn-success{name: "commit", type: "submit", value: "支付宝结账"}

= javascript_include_tag "/javascripts/store.js"
