.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 订单号
        %th PrePaidCode
        %th 商品数量 
        %th 总价格
        %th 明细 
        %th 操作
    %tbody
      - @orders.each_with_index do |order, index|
        - id = "trash_order_%d" % order.id
        %tr{id: id}
          %td= order.out_trade_no
          %td= order.pre_paid_code
          %td= order.quantity
          %td= order.amount
          %td= order.order_items.count
          %td
            .btn-group
              %a.btn.btn-default.btn-sm{href: "/account/orders/%d" % order.id}
                查看
              %button.btn.btn-default.btn-sm{onclick: "Sinatra.operateWithAjax('post','/account/trash/orders/%d/normal','#%s', '还原-%s');" % [order.id, id, order.out_trade_no]}
                还原
