-#encoding: utf-8
.row.page-header
  %h3 Action Log

.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th panel
        %th user
        %th model 
        %th model id
        %th action
        %th created_at
    %tbody
      - @action_logs.each_with_index do |action_log, index|
        %tr
          %td= action_log.panel
          %td= action_log.user.email
          %td= action_log.model_name
          %td= action_log.model_id
          %td= action_log.action
          %td= action_log.created_at.strftime("%Y-%m-%d %H:%M")
